<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Based URL</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Based URL</h1>
    <form method="post" action="/">
        <p>
            <input name="url" type="text" placeholder="Your URL">
        </p>
        <p>
            <input name="strict" type="checkbox" id="strictMode" {% if warning_url %}checked{% else %}{% endif %} >
            <label for="strictMode">Strict Mode</label>
            <input type="submit" value="PRUNE">
        </p>
    </form>
    {% if warning_url %}
        <h3 class="warning">Could not find matched pattern in our database.</h3>
        <h4><a href="{{ warning_url }}" target="_blank">{{ warning_url }}</a></h4>
    {% endif %}
</body>
</html>